DEBUG=True
CELERY_BROKER_URL=redis://localhost:6379/0
REDIS_URL=redis://localhost:6379/0
BEAT_SCHEDULER=redbeat.RedBeatScheduler
SQLALCHEMY_DATABASE_URI=mysql+mysqlconnector://root:root@localhost:13306/stock_ticker
SQLALCHEMY_TRACK_MODIFICATIONS=False
LOGFILE_PATH=/path/to/logfile/app.log

MAIL_SERVER=smtp.gmail.com
APP_MAIL_ADDRESS=someusername@gmail.com
MAIL_APP_PASSWORD=xxxxssdsdasesas
